{% extends 'landing_page/template.html' %}

{% block title %}
    Main Page
{% endblock %}

{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'landing_page/index.css' %}">
    <style>
        .header{
    width:90%;
    margin:5rem auto 0;
}

#container {
    display:inline-block;
    margin-bottom:5rem;
}

.hi{
    font-size:2.5rem;
    margin-bottom:1rem;
}

#text {
    height:3rem;
    display: inline-block;
    vertical-align: middle;
    color:#F6FFF8;
    letter-spacing: 2px;
    font-family:'Montserrat', sans-serif;
    font-weight:bold;
    font-size:3rem;
}

#cursor {
    display: inline-block;
    vertical-align: middle;
    width: 3px;
    height: 3rem;
    background-color:#F6FFF8;
    animation: blink .75s step-end infinite;
}
.checkout{
    margin-bottom:2rem;
}
.gallery{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:300px 300px 300px;
}

@keyframes blink {
    from, to { 
        background-color: transparent 
    }
    50% { 
        background-color:#F6FFF8; 
    }
}
        .gallery a{
            cursor:pointer;
            transform: scale(1) translateZ(0);
            transition: 
                filter 200ms linear,
                transform 200ms linear;
            text-decoration:none;
        }
        .gallery a:hover{
            transform:scale(1.05) translateZ(0);
        }
        
        .gallery .frame{
            position:relative;
            z-index:2;
            display:flex;
            top:0;
            left:0;
            justify-content:center;
            margin:0 2rem;
            border:2px solid #FDCA40;
            border-radius:10px;
            height:100%;
        }
        .gallery a:nth-child(n+4) .frame{
            margin:2rem 2rem;
        }
        .frame .image-placeholder{
            position:absolute;
            z-index:1;
            width:100%;
            height:100%;
        }
        .frame .image-placeholder img{
            width:100%;
            opacity:0.5;
            height:100%;
        }
        .frame .text{
            position:relative;
            z-index:2;
            margin:2rem;
            font-size:3rem;
        }

        @media (max-width:1100px){
            .frame .text{
                font-size:2.5rem;
            }
        }

        @media (max-width:950px){
            .frame .text{
                font-size:2rem;
            }
        }
        @media (max-width:850px){
            .frame .text{
                font-size:1.5rem;
            }
        }
        @media (max-width:768px){
            .gallery{
                grid-template-rows:300px 300px 300px;
            }
            .gallery a{
                grid-column:1/4;
                margin:2rem;
            }
            #story-2{
                grid-row:2;
            }
            #story-1{
                grid-row:1;
            }
            #story-3{
                grid-row:3;
            }
            html{
                font-size:14px;
            }
        }
        @media (max-width:500px){
            .gallery a{
                width:100%;
                margin: 2rem auto;
            }
        }
        @media (max-width:330px){
            .checkout{
                font-size:1.2rem;
            }
        }
    </style>
{% endblock %}


{% block body %}
<section class="header">
    <div id="container">
        <h1 class="hi">Hi&#44; I&apos;m Mario&#44;</h1>
        <h1 class="code">
            and i code using
        </h1>
        <div id="text"></div><div id="cursor"></div>
    </div>
    <h1 class="checkout">Checkout my PPW Stories:</h1>
    <div class="gallery">
        <a href="/story-1/" id="story-1">
            <div class="frame">
                <div class="image-placeholder">
                    <img src="{% static 'landing_page/hello-world.jpg' %}" alt="helloworld"/>
                </div>
                <h1 class="text">
                Story 1
                </h1>
            </div>
        </a>
        <a href="/story-2/" id="story-2">        
            <div class="frame">
                <div class="image-placeholder">
                    <img src="{% static 'landing_page/figmajpg.jpg' %}" alt="helloworld"/>
                </div>
                <h1 class="text">
                    Story 2
                </h1>
            </div>
        </a>
        <a href="/story-3/" id="story-3">
            <div class="frame">
                <div class="image-placeholder">
                    <img src="{% static 'landing_page/htmlcss.jpg' %}" alt="helloworld"/>
                </div>
                <h1 class="text">
                    Story 3
                </h1>
            </div>
        </a>
        <a id="story-4" href="">
            <div class="frame">
                <div class="image-placeholder" style="background:#000;z-index:-1;">
                </div>
                <h1 class="text" style="position:relative;z-index:0;">
                    Story 4
                </h1>
            </div>
        </a>
        <a id="story-4" href="/story-5/">
            <div class="frame">
                <div class="image-placeholder" style="background:#000;z-index:-1;">
                </div>
                <h1 class="text" style="position:relative;z-index:0;">
                    Story 5
                </h1>
            </div>
        </a>
        <a id="story-5" href="/story-7/">
            <div class="frame">
                <div class="image-placeholder" style="background:#000;z-index:-1;">
                </div>
                <h1 class="text" style="position:relative;z-index:0;">
                    Story 7
                </h1>
            </div>
        </a>
    </div>

</section>

    <script>
    // List of sentences
    var CONTENT = [ 
        "React", 
        "Gatsby", 
        "Django", 
    ];

    // Index of the array
    var PART = 0;

    // Character number
    var PART_INDEX = 0

    var INTERVAL_VAL;

    var ELEMENT = document.querySelector("#text");
    var CURSOR = document.querySelector("#cursor")

    function Type(){
        var text = CONTENT[PART].substring(0, PART_INDEX);
        ELEMENT.innerHTML = text;
        PART_INDEX++;

        if (text === CONTENT[PART]){
            CURSOR.style.display = 'none';

            clearInterval(INTERVAL_VAL)
            setTimeout(() => {
                INTERVAL_VAL = setInterval(Delete, 50);
            }, 1000)
        }
    }

    function Delete(){
        var text = CONTENT[PART].substring(0, PART_INDEX-1);
        ELEMENT.innerHTML = text;
        PART_INDEX--;

        if(text === ''){
            clearInterval(INTERVAL_VAL);

            if(PART === CONTENT.length-1){
                PART = 0;
            } else{
                PART++;
            }

            PART_INDEX = 0;

            setTimeout(() => {
                CURSOR.style.display = "inline-block";
                INTERVAL_VAL = setInterval(Type, 100);
            }, 200)
        }
    }

    INTERVAL_VAL = setInterval(Type, 100)
    </script>
{% endblock %}