{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .navbar-landing{
            position:fixed;
            top:0;
            left:0;
            z-index:50;
            width:100%;
            background:#272932;
        }
        .navbar-landing .placeholder a{
            text-decoration:none;
            color:#F6FFF8;
        }
        .navbar-landing .placeholder{
            display:flex;
            width:95%;
            margin:0 auto;
            justify-content:flex-end
        }
        .navbar-landing .placeholder .back{
            margin:2rem 0;
        }
    </style>
</head>
<body>
    <nav class="navbar-landing">
        <div class="placeholder">
            <a href="/">
                <h1 class="back">
                    &lt; go back to story gallery
                </h1>
            </a>
        </div>
    </nav>
</body>
</html>