.accordion {
    background-color: #e74034;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border:none;
    text-align: left;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    opacity:0.8;
}

.panel {
    padding: 0 18px;
    background-color: lightblue;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.accordion-big{
    overflow:hidden;
    position:relative;
    border-radius:10px;
}

.button-wrapper{
    position:absolute;
    top:18px;
    z-index:2;
    right:18px;
}
.button-wrapper button{
    cursor:pointer;
}
.accordion-container{
    padding:1rem 0;
}