{% extends 'story7/templates.html' %}
{% load static %}

{% block title %}
    Accordion Main
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'story7/style.css' %}">
{% endblock %}

{% block body %}
    <div class="accordion-container">
        <div class="accordion-big">
            <button class="accordion" id="accordion-1">Aktivitas Saat Ini!</button>
            <div class="button-wrapper">
                <button class="up" id="up-1">
                    ^
                </button>
                <button class="down" id="down-1">
                    V
                </button>
            </div>
            <div id="section-1" class="panel" style="max-height:0px;">
            <ul>
                <li>Kuliah Semester 3</li>
                <li>VPIC SE Compfest</li>
                <li>Diktat Semester 2</li>
            </ul>
            </div>
        </div>
        <div class="accordion-big">
            <button class="accordion" id="accordion-2">Pengalaman Organisasi atau Kepanitiaan!</button>
            <div class="button-wrapper">
                <button class="up" id="up-2">
                    ^
                </button>
                <button class="down" id="down-2">
                    V
                </button>
            </div>
            <div id="section-2" class="panel" style="max-height:0px;">
            <ul>
                <li>Vice Head CEDS UI 2019</li>
                <li>Supervisor Startup Weekend UI</li>
                <li>Software Engineer Compfest 12</li>
            </ul>
            </div>
        </div>
        <div class="accordion-big">
            <button class="accordion" id="accordion-3">Prestasi!</button>
            <div class="button-wrapper">
                <button class="up" id="up-3">
                    ^
                </button>
                <button class="down" id="down-3">
                    V
                </button>
            </div>
            <div id="section-3" class="panel" style="max-height:0px;">
                <ul>
                    <li>Finalis UGM FindIT Hackathon</li>
                </ul>
            </div>
        </div>
    </div>
    <script src="{% static 'story7/script.js' %}"></script>

{% endblock %}