{% extends 'story3/template.html' %}
{% load static %}

{% block title %}
    Experience
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'all_styles.css' %}">
{% endblock %}

{% block body %}
<section class="third-section">
    <div class="third-section-wrapper">
        <h1 class="title third-section-title">
            experience
        </h1>
        <div class="third-section-content">
            <div class="top">
                {% for content in content_section_three %}
                {% if content.slug == "COMPFEST" %}
                <div class="description-paragraph active" id="{{ content.slug }}_paragraph">
                    <div class="description-title">
                        {{ content.slug }}
                    </div>
                    <div class="description-text">
                        {% for paragraph in content.paragraphs %}
                            <p class="paragraph">
                                {{ paragraph }}
                            </p>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                <div class="description-paragraph inactive" id="{{ content.slug }}_paragraph">
                    <div class="description-title">
                        {{ content.slug }}
                    </div>
                    <div class="description-text">
                        {% for paragraph in content.paragraphs %}
                            <p class="paragraph">
                                {{ paragraph }}
                            </p>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                <div class="pc-only">
    
                    {% if content.slug == "COMPFEST" %}
                    <div class="experience-photo active" id="{{ content.slug }}_photo">
                        <img src="{% static 'compfest.png' %}">
                    </div>
                    {% elif content.slug == "PERAK" %}
                    <div class="experience-photo inactive" id="{{ content.slug }}_photo">
                        <img src="{% static 'perak.png' %}">
                    </div>
                    {% elif content.slug == "BETIS" %}
                    <div class="experience-photo inactive" id="{{ content.slug }}_photo">
                        <img src="{% static 'betis.png' %}">
                    </div>
                    {% elif content.slug == "CEDSUI" %}
                    <div class="experience-photo inactive" id="{{ content.slug }}_photo">    
                        <img src="{% static 'ceds.png' %}">
                    </div>
                    {% endif %}
                </div>

                {% endfor %}
            </div>
            <div class="bottom">
                <button class="experience-profile active" onClick="triggerButton('COMPFEST')" id="COMPFEST_button">
                    <img src="{% static 'compfest.png' %}" alt="">
                </button>
                <button class="experience-profile inactive" onClick="triggerButton('CEDSUI')" id="CEDSUI_button"><img src="{% static 'ceds.png' %}"></button>
                <button class="experience-profile inactive" onClick="triggerButton('BETIS')" id="BETIS_button"><img src="{% static 'betis.png' %}"></button>
                <button class="experience-profile inactive" onClick="triggerButton('PERAK')" id="PERAK_button"><img src="{% static 'perak.png' %}"></button>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    const ALL_SLUG = ["COMPFEST", "PERAK", "BETIS", "CEDSUI"]
    const ALL_CONTENT_SLUG = ["SEKELAS", "STREAMLINE"]
    function triggerButton(slug){
        // aduh ngakak ini bodoh banget
        for(var i =0; i<ALL_SLUG.length;i++){
            if(slug === ALL_SLUG[i]){
                document.getElementById(slug + "_paragraph").className = "description-paragraph active";
                document.getElementById(slug + "_photo").className = "experience-photo active"
                document.getElementById(slug +  "_button").className = "experience-profile active"
            } else{
                document.getElementById(slug + "_paragraph").className = "description-paragraph inactive";
                document.getElementById(slug + "_photo").className = "experience-photo inactive"
                document.getElementById(slug +  "_button").className = "experience-profile inactive"
            }
        }
    }    
    function triggerFourthButton(slug){
        for (var i =0; i < ALL_CONTENT_SLUG.length; i++){
            if(slug === ALL_CONTENT_ZSLUG[i]){
                document.getElementById(slug + "_paragraph").className = "description-paragraph active";
                document.getElementById(slug + "_photo").className = "experience-photo active"
                document.getElementById(slug +  "_button").className = "experience-profile active"
            } else{
                document.getElementById(slug + "_paragraph").className = "description-paragraph inactive";
                document.getElementById(slug + "_photo").className = "experience-photo inactive"
                document.getElementById(slug +  "_button").className = "experience-profile inactive"
            }
        }
    }
</script>
{% endblock %}