{% extends 'story3/template.html' %}
{% load static %}

{% block title %}
    About Me
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'all_styles.css' %}">
{% endblock %}

{% block body %}
<section class="fourth-section">
    <div class="third-section-wrapper">
        <h1 class="title third-section-title">
            projects
        </h1>
        <div class="third-section-content">
            <div class="top">
                {% for content in content_section_four %}
                {% if content.slug == "STREAMLINE" %}
                <div class="description-paragraph active" id="{{ content.slug }}_paragraph">
                    <div class="description-title">
                        {{ content.slug }}
                    </div>
                    <div class="description-text">
                        {% for paragraph in content.paragraphs %}
                            <p class="paragraph">
                                {{ paragraph }}
                            </p>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                <div class="description-paragraph inactive" id="{{ content.slug }}_paragraph">
                    <div class="description-title">
                        {{ content.slug }}
                    </div>
                    <div class="description-text">
                        {% for paragraph in content.paragraphs %}
                            <p class="paragraph">
                                {{ paragraph }}
                            </p>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                <div class="pc-only">
    
                    {% if content.slug == "STREAMLINE" %}
                    <div class="experience-photo active" id="{{ content.slug }}_photo">
                        <img src="{% static 'streamline.png' %}">
                    </div>
                    {% elif content.slug == "SEKELAS" %}
                    <div class="experience-photo inactive" id="{{ content.slug }}_photo">
                        <img src="{% static 'sekelas.svg' %}">
                    </div>
                    {% endif %}
                </div>

                {% endfor %}
            </div>
            <div class="bottom">
                <button class="experience-profile active" onClick="triggerFourthButton('STREAMLINE')" id="STREAMLINE_button">
                    <div class="experience-profile-wrapper">
                        <img src="{% static 'streamline.png' %}" alt="">
                    </div>
                </button>
                <button class="experience-profile inactive" onClick="triggerButton('SEKELAS')" id="SEKELAS_button">
                    <div class="experience-profile-wrapper">
                        <img src="{% static 'sekelas.svg' %}">
                    </div>
                </button>
            </div>
        </div>
    </div>
</section>
    <script type="text/javascript">
        const ALL_SLUG = ["COMPFEST", "PERAK", "BETIS", "CEDSUI"]
        const ALL_CONTENT_SLUG = ["SEKELAS", "STREAMLINE"]
        function triggerButton(slug){
            // aduh ngakak ini bodoh banget
            for(var i =0; i<ALL_SLUG.length;i++){
                if(slug === ALL_SLUG[i]){
                    document.getElementById(slug + "_paragraph").className = "description-paragraph active";
                    document.getElementById(slug + "_photo").className = "experience-photo active"
                    document.getElementById(slug +  "_button").className = "experience-profile active"
                } else{
                    document.getElementById(slug + "_paragraph").className = "description-paragraph inactive";
                    document.getElementById(slug + "_photo").className = "experience-photo inactive"
                    document.getElementById(slug +  "_button").className = "experience-profile inactive"
                }
            }
        }    
        function triggerFourthButton(slug){
            for (var i =0; i < ALL_CONTENT_SLUG.length; i++){
                if(slug === ALL_CONTENT_ZSLUG[i]){
                    document.getElementById(slug + "_paragraph").className = "description-paragraph active";
                    document.getElementById(slug + "_photo").className = "experience-photo active"
                    document.getElementById(slug +  "_button").className = "experience-profile active"
                } else{
                    document.getElementById(slug + "_paragraph").className = "description-paragraph inactive";
                    document.getElementById(slug + "_photo").className = "experience-photo inactive"
                    document.getElementById(slug +  "_button").className = "experience-profile inactive"
                }
            }
        }
    </script>
{% endblock %}