@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
        html *{
            color:#F3F3F3;
        }

        body{
            font-family:'Roboto', sans-serif;
            background:#131313;
        }

        .story0__section{
            display:flex;
            padding:5rem 5rem;    
        }
        .university__profile__wrapper{
            width:100%;
            padding:2rem 0;
            margin-top:2rem;
            background:#1d1e20;
            border-radius:10px;
        }
        .socials {
            padding:2rem 0;
            width:100%;
            background:#1d1e20;
            border-radius:10px;
        }
        .socials .socials__title{
            margin:0;
        }
        .socials__card{
            display:flex;
            margin:0 auto;
            justify-content:center;
            align-items:center;
        }
        .socials__card .social {
            width:50px;height:50px;
            overflow:hidden;
        }
        .socials__card a{
            margin-right:1.2rem;
            cursor:pointer;
        }
        .socials__card a:hover{
            padding-bottom:0.5rem;
        }
        .socials__card a:last-child, .socials__card a:first-child{
            margin-right:0;
        }
        .social img{
            width:100%;height:100%;
        }
        .left__card{
            display:flex;
            align-items:baseline;
            flex-direction:column;
            justify-content:center;
            text-align:center;
            flex:1;
            margin-right:2rem;
        }
        .socials__card{
            list-style:none;
            margin:0;
            padding:0;
        }

        .right__card{
            flex:3;
        }
        .image__placeholder{
            width:150px;height:150px;
            border-radius:50%;
            overflow:hidden;
        }
        .image__placeholder img{
            width:100%;
            height:100%;
        }
        .profile__card #line {
            margin:0 auto;
            margin-bottom:2rem;
            height:0.2rem;
            width:4rem;
            background:#c4c4c4;
        }
        .profile__card {
            padding:2rem 5rem;
            background:#1d1e20;
            margin-bottom:2rem;
            border-radius:10px;
        }
        .profile__card .job__role {
            font-weight:bold;
            letter-spacing:0.2rem;
            margin-bottom:2rem;
        }
        .top__card .title {
            margin:0;
            margin-bottom:0.5rem;
            font-size:3rem;
        }
        .right__card {
            display:flex;
            flex-direction: column;
            border-radius:10px;
        }
        .top__card  .age{
            margin:0;
            margin-bottom:1rem;
            font-size:1rem;
            font-style:italic;
            color:#cec46a;
        }
        .top__card {
            padding:3rem 3rem;
            background:#1d1e20;

        }
        .top__card #line, .bottom__card #line {
            margin-bottom:1rem;
            width:100%;
            height:0.1rem;
            background:#c4c4c4;
        }
        .top__card .description{
            letter-spacing:0.05rem;
        }
        ul.university__profile {
            list-style:none;
            padding:0;
            margin:0;
        }
        .university__profile.title{
            font-size:1.5rem;
            margin:0;
            margin-bottom:1rem;
        }
        .university__profile .profile {
            display:flex;
            flex-direction:column;
            color:#cec46a;

        }
        .profile span {
            margin-top:0.25rem;
            margin-bottom:1rem;
        }
        .profile:last-child span{
            margin-bottom:0;
        }
        .bottom__card{
            background:#1d1e20;
            padding:3rem 3rem;
            border-radius:10px;
            margin-top:2rem;
            height:100%;
        }

        .bottom__card .title {
            font-size:2.5rem;
            margin:0;
            margin-bottom:0.5rem;
        }
        .riwayats{
            padding-inline-start:20px;
        }
        @media (max-width:1024px){
            .story0__section {
                flex-direction:column;
            }
            .left__card .profile__card{
                width:100%;
                padding:2rem 0;
                display:flex;
                justify-content:center;
                flex-direction:column;
            }
            .image__placeholder{
                margin: 0 auto;
            }
            .left__card {
                margin:0;
                margin-bottom:2rem;
            }
        }
        @media (max-width:500px){
            html {
                font-size:14px !important;
            }
            .story0__section{
                width:90%;
                margin:0 auto;
                padding:3rem 0;
            }
        }