{% extends 'story5/template.html' %}
{% load static %}

{% block title %}
    Halaman Depan
{% endblock %}

{% block head %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
        html{
            font-size:14px;
            font-family:'Roboto', sans-serif;
        }
        body{
            background:#1C0B19;
        }
        .main{
            margin:calc(107.31px + 91px + 1rem)  1rem 0;
        }
        .right, .left{
            border-radius:10px;
            padding:1em;
            background:#FFF;
        }
        p, h2{
            font-weight:600;
            color:#1c0b19;
        }
        .main h1{
            color:#3066BE;
        }

        /* OUTER FORM */
        .placeholder-left{
            text-align:center;
        }
        .placeholder-left > h1, .content > h1, .left > .placeholder > h1 {
            text-align:center;
            font-size:2rem;
            margin:0;
            margin-bottom:1rem;
        }
        .content > h1{
            margin:1rem 0;
        }
        .placeholder-left > p {
            font-size:1.5rem;
        }
        .placeholder-right .line {
            width:100%;
            height:3px;
            background:#1c0b19;
        }

        /* FORM STYLES */
        textarea, input[type="text"], input[type="number"]{
            border:2px solid #000;
            border-radius:10px;
            font-size:1rem;
            padding:3px 4px;
        }
        textarea, input[type="text"], input[type="submit"], input[type="number"]{
            width:100%;
            resize:none;
            box-sizing:border-box;
        }
        input[type="submit"]{
            cursor:pointer;
            padding:0.5rem;
            border-radius:10px;
            border:none;
            background:#3066BE;
            color:#FFF;
            text-transform:uppercase;
            font-weight:bold;
            letter-spacing:0.01em;
        }
        .wrapper > .left{
            margin-bottom:1rem;
        }
        .form-tag{
            display:grid;
            grid-template-columns:1fr 1fr;
            grid-gap:20px;
        }
        .form-tag label{
            display:block;
        }
        .form-tag p {
            margin:0;
        }
        .form-tag p:last-child, .form-tag p:nth-last-child(2){
            grid-column:1/3;
        }

        /* RESULT */
    
        .left > .placeholder > h1 {
            margin:0;
            text-align:center;
            margin-bottom:1rem;
        }
        .left > .placeholder > ul > li > a{
            text-decoration:none;
            color:#1C0B19;
        }
        .left > .placeholder > ul > li > a:hover{
            opacity:0.8;
        }
        .left > .placeholder > ul{
            list-style:none;
            text-align:center;
            padding:0;
            margin:0;
        }
        @media (min-width:768px){
            .right{
                padding:2rem;
            }
            .right > .placeholder{
                display:grid;
                grid-template-columns:1fr 2fr;
            }
            .content{
                max-width:700px;
                width:100%;
            }
            .placeholder-left > h1, .content > h1{
                text-align:left;
            }
            .placeholder-left{
                text-align:left;
                display:flex;
                justify-content:center;
                flex-direction:column;
            }
            .placeholder-right {
                display:flex;
                height:100%;
            }
            .placeholder-right .line{
                width:3px ;
                height:100%;
                margin: 0 2rem;;
            }
        }
    </style>
{% endblock %}

{% block matkul %}
    {% if matkuls.count > 0 %}
        <li class="nav-link"><a href="/story-5/matkul-detail/">Matkul Details</a></li>
    {% endif %}
{% endblock %}


{% block body %}
    <section class="main">
        <div class="wrapper">
            <div class="left">
                <div class="placeholder">
                    <h1>Matkulku</h1>
                    {% if matkuls.count > 0 %}
                    <ul>
                        {% for matkul in matkuls %}
                        <li><a href="/story-5/matkul-detail/{{ matkul.id }}/">{{matkul.nama}}</a></li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <h2>No matkul found in the database.</h2>
                    {% endif %}
                </div>
            </div>
            <div class="right">
                <div class="placeholder">
                    <div class="placeholder-left">
                        <h1>Tambah mata kuliah anda di sini.</h1>
                        <p>Buat jadwal anda makin terorganisir dan menjadi mahasiswa berprestasi</p>
                    </div>
                    <div class="placeholder-right">
                        <div class="line"></div>
                        <div class="content">
                            <h1>Add Mata Kuliah</h1>
                            <form autocomplete="off" class="form-tag" action='add-matkul/' method="POST">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <p><input type="submit" value="Submit"></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}