{% extends 'story5/template.html' %}

{% load static %}

{% block title %}
    {% if is_all %}
        Detail Matkul
    {% else %}
        Matkul {{ matkuls.nama }}
    {% endif %}
{% endblock %}

{% block head %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
        html {
            font-size:16px;
            font-family:'Roboto', sans-serif;
        }
        body{
            margin:0;
            background:#1C0B19;
        }
        .matkul_details{
            margin:1rem;
            margin-top:calc(107.31px + 91px + 1rem);
        }
        .matkul_details > .placeholder{
            border-radius:10px;
        }
        .matkul_details > .placeholder > .details > .detail > h1{
            color:#3066BE;
            margin:0;
        }
        .matkul_details > .placeholder > .details, .details > .detail > .card > .card_details{
            list-style:none;
            padding:0;
            margin:0;
        }
        .details{
            display:flex;
            flex-direction:column;
        }
        .details > .detail:first-child{
            margin-top:0;
        }
        .details > .detail:last-child{
            margin-bottom:0;
        }
        .details > .detail{
            margin:1rem;
            padding:1rem;
            border-radius:10px;
            background:#FFF;
        }
        .details > .detail > .card > .card_details > li > p{
            font-weight:600;
        }
        .details > .detail > .card > .card_details > li{
            display:flex;
            align-items:center;
        }
        .details > .detail > .card > .card_details > li > img{
            width:20px;
            height:20px;
            margin-right:10px;
        }
        form > p > input[type="submit"]{
            width:100%;
            cursor:pointer;
            padding:0.5rem;
            border-radius:10px;
            border:none;
            background:#B80C09;
            color:#FFF;
            text-transform:uppercase;
            font-weight:bold;
            letter-spacing:0.01em;
        }
    </style>
{% endblock %}

{% block body %}
    <section class="matkul_details">
        <div class="placeholder">
            <ul class="details">
                {% if is_all %}
                    {% for matkul in matkuls %}
                        <li class="detail">
                            <h1>
                                Detail Matkul
                            </h1>
                            <div class="card">
                                <h1>{{ matkul.nama }}</h1>
                                <ul class="card_details">
                                    <li><img src="{% static 'story5/teacher.png' %}" alt="dosen"><p>{{ matkul.dosen}}</p></li>
                                    <li><img src="{% static 'story5/calendar.png' %}" alt="calendar"><p>{{ matkul.semester_tahun }}</p></li>
                                    <li><img src="{% static 'story5/studentcredit.png' %}" alt="credit"><p>{{ matkul.jumlah_sks }}</p></li>
                                </ul>
                                <h1>Deskripsi:</h1>
                                <p>
                                    {{ matkul.deskripsi }}
                                </p>
                            </div>
                            <form action="matkul-delete/" method="POST">
                                {% csrf_token %}
                                <input name="id" value="{{ matkul.id }}" type="hidden">
                                <p><input type="submit" value="Delete"></p>
                            </form>
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="detail">
                        <h1>
                            Detail Matkul
                        </h1>
                        <div class="card">
                            <h1>{{ matkuls.nama }}</h1>
                            <ul class="card_details">
                                <li><img src="{% static 'story5/teacher.png' %}" alt="dosen"><p>{{ matkuls.dosen}}</p></li>
                                <li><img src="{% static 'story5/calendar.png' %}" alt="calendar"><p>{{ matkuls.semester_tahun }}</p></li>
                                <li><img src="{% static 'story5/studentcredit.png' %}" alt="credit"><p>{{ matkuls.jumlah_sks }}</p></li>
                            </ul>
                            <h1>Deskripsi:</h1>
                            <p>
                                {{ matkuls.deskripsi }}
                            </p>
                        </div>
                        <form action="matkul-delete/" method="POST">
                            {% csrf_token %}
                            <input name="id" value="{{ matkuls.id }}" type="hidden">
                            <p><input type="submit" value="Delete"></p>
                        </form>
                    </li>    
                {% endif %}
            </ul>
        </div>
    </section>
{% endblock %}