{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>Matkulku | {% block title %}{% endblock %}</title>
    <style>
        nav.story5_nav{
            position:fixed;
            top:91px;
            left:0;
            width:100vw;
            z-index:2;
            background:#FFF;
        }
        .story5_nav .nav_placeholder{
            width:90%;
            margin:0 auto;
            padding:2rem 0;
        }
        .nav_placeholder .nav_brand img{
            width:100%;
            height:100%;
        }
        .nav_brand{
            width:50px;
            height:auto;
        }
        .nav_placeholder{
            display:flex;
            justify-content:space-between;
        }
        .nav_placeholder .nav-links{
            display:flex;
            list-style:none;
            padding:0;
            margin:0;
            align-items:center;
        }
        .nav-links .nav-link a{
            color:#3066BE;
            text-decoration:none;
            font-size:1.5rem;
            font-weight:bold;
        }
    </style>
    {% block head %}
    {% endblock %}
</head>
<body>
    {% include 'landing_page/navbar.html' %}
    <nav class="story5_nav">
        <div class="nav_placeholder">
            <div class="nav_brand">
                <a href="/story-5/">
                    <img src="{% static 'Logo.png' %}">
                </a>
            </div>
            <ul class="nav-links">
                {% block matkul %}
                {% endblock %}
            </ul>
        </div>
    </nav>
    {% block body%}
    {% endblock %}
</body>
</html>