        .first-section{
            padding: 6rem 0;
            background:#1B5299;
        }
        .placeholder-all{
            display:flex;
            width:90%;
            margin:0 auto;
            justify-content:space-between;
            align-items:center;
        }
        .hero-texts{
            margin-right:5rem;
        }
        .hero-texts h1{
            font-size:4rem;
            color:#5ABAF4;
            margin-bottom:1.5rem;
        }
        .hero-texts h1 .im{
            color:#EFF7FF;
        }
        .hero-texts h1 .name{
            color:#D7263D;
        }
        .hero-texts h2{
            font-family:'Montserrat', sans-serif;
            font-weight:500;
            font-size:3.25rem;
            color:#EFF7FF;
        }
        .second-section{
            margin: 0 10rem;
            background:#FFF;
        }
        .second-section-content{
            display:flex;
            justify-content:space-between;
            width:100%;
        }
        .hello-world{
            margin-bottom:1.675rem;
            font-family:'Roboto', sans-serif;
            font-size:3rem;
            color:#D7263D;
        }
        .title{
            font-size:3rem;
            color:#1C539A;
            text-align:center;
            padding-bottom:6rem;
        }
        .description{
            font-family:'Roboto', sans-serif;
            color:#5ABAF4;
            font-size:2rem;
            margin-bottom:0.675rem;
        }
        .many-more{
            margin-top:0.675rem;
            font-size:3rem;
            color:#5ABAF4;
            text-align:right;
        }
        .description .red{
            color:#D7263D;
        }
        .third-section-title{
            color:#5ABAF4;
            padding:5rem 0;
        }
        .third-section{
            background:#1C539A;
            padding-bottom:115px;;
        }
        .top{
            display:flex;
        }
        .third-section-title{
            margin-bottom:2rem;
        }
        .second-section{
            margin-top:5rem;
            margin-bottom:5rem;
        }
        .description-title{
            font-size:4rem;
            color:#EFF7FF;
            margin-bottom:2.5rem;
            font-family:'Montserrat', sans-serif;
            font-weight:bold;
        }
        .description-text .paragraph{
            font-size:1.5rem;
            color:#EFF7FF;
            font-family:'Roboto', sans-serif;
            margin:1rem 0;
        }
        .description-text .paragraph:first-child{
            margin-top:0;
        }
        .third-section-wrapper{
            margin:0 10rem;
        }
        .experience-photo{
            margin-left:2rem;
        }
        .experience-profile{
            border:none;
            background:none;
            width:240px;
            height:240px;
        }
        .description-paragraph.active, .experience-photo.active{
            display:block;
        }
        .description-paragraph.inactive, .experience-photo.inactive{
            display:none;
        }
        .experience-profile.active{
            opacity:1;
        }
        .experience-profile.inactive{
            opacity:0.5;
        }
        .bottom{
            display:flex;
            justify-content:space-between;
            margin-top:3.75rem;
        }
        .experience-profile img{
            width:100%;
            height:100%;
        }

        .description-text .paragraph:last-child{
            margin-bottom:0;
        }
        .fourth-section .description-text .paragraph{
            color:#1C539A;
        }
        .fourth-section .description-title{
            color:#1C539A;
        }
        .fourth-section{
            padding:5rem 0;
        }
        .experience-profile-wrapper{
            background:#1c539a;
            border-radius:50%;
            padding:2rem;
        }
        
        @media (max-width:1200px){
            .experience-profile{
                width:150px;
                height:150px;
            }
        }
        @media (max-width:1300px){
            .second-section{
                margin: 0 5rem;
            }
        }
        @media (max-width:1100px){
            .second-section{
                margin: 0 2.5rem;
            }
            .title{
                padding:5rem 0;
            }
            .hello-world, .title{
                font-size:2.5rem;
            }
            .description{
                font-size:1.5rem;
            }
            .many-more{
                font-size:2.5rem;
            }
            .third-section-content .description-title{
                font-size:3rem;
            }
            .experience-photo{
                width:250px;
                height:250px;
            }
            .experience-photo img{
                width:100%;
                height:100%;
            }
        }
        @media (max-width:900px){
            .placeholder-all{
                width:100%;
                margin:0;
            }
            .hero-image{
                width:50%;
                height:auto;
            }
            .image-placeholder{
                width:50%;
                height:auto;
            }
            .image-placeholder img{
                width:100%;
                height:auto;
            }
            .hero-image img{
                width:100%;
                height:auto;
            }
            .third-section-wrapper{
                width:90%;
                margin:0 auto;
            }
        }
        @media (max-width:768px){
            .first-section{
                padding-bottom:0;
            }
            .placeholder-all{
                flex-direction:column;
            }            
            .hero-image{
                width:90%;
            }
            .hero-texts{
                margin:0;
                text-align:left;
                width:90%;
            }
            .second-section-content{
                flex-direction:column;
            }
            .image-placeholder{
                margin:0 auto;
                margin-bottom:2rem;
            }
            .second-section-texts{
                width:90%;
            }
            .image-stacks{
                width:100%;
            }
            .image-stacks img{
                width:100%;
                height:auto;
            }
            .hello-world{
                font-size:3rem;
            }
            .description{
                font-size:2rem;
            }
            .many-more{
                font-size:2rem;
            }
        }
        @media (max-width:600px){
            .experience-profile{
                width:100px;
                height:100px;
            }
        }
        @media (max-width:500px){
            .hello-world{
                font-size:2.5rem;
            }
            .image-placeholder{
                width:100%;
            }
            .description, .many-more{
                font-size:1.5rem;
            }
            
            .bottom{
                justify-content:center;
                flex-wrap:wrap;
            }
            .experience-profile{
                margin:0 10px;
                width:150px;
                height:150px;
            }
            .experience-profile:last-child{
                margin-right:0;
            }
            .experience-profile:first-child{
                margin-left:0;
            }
        }
        @media (max-width:350px){
            .hello-world{
                font-size:2rem;
            }
            .hero-texts .hi{
                font-size:3rem;
            }
            .hero-texts h2{
                font-size:2.5rem;
            }
            .bottom{
                flex-direction:column;
                align-items:center;
            }
            .experience-profile{
                margin:20px 0;
            }
            .experience-profile:last-child{
                margin-bottom:0;
            }
            .experience-profile:first-child{
                margin-top:0;
            }
        }