@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
*{
    scroll-behavior: smooth;
    margin:0;
    padding:0;
    list-style:none;
}

p, h4, h5{
    font-family:'Roboto', sans-serif;
}

h1, h2, h3, a{
    font-family:'Montserrat', sans-serif;
}

html{
    font-size:16px;
}

@media (max-width:768px){
    html{
        font-size:14px;
    }
}