{% extends 'story1/template.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'story1/style.css' %}">
{% endblock %}

{% block title %}
    Story 1 
{% endblock %}

{% block body %}
    <section class="story0__section">
        <div class="left__card">
            <div class="profile__card">
                <div class="image__placeholder">
                    <img src="{% static 'story1/MarioEating.jpg'%}" alt="me eating" />
                </div>
                <h1 class="name__tag">
                    Mario Serano
                </h1>
                <div id="line"></div>
                <div class="job__role">
                    DEVELOPER
                </div>
            </div>
            <div class="socials">
                <h2 class="socials__title">Socials</h2>
                <ul class="socials__card">
                    <a href="https://www.linkedin.com/in/mario-serano-b3a121194/"><li class="social" style="width:70px;height:70px;margin-right:calc(1rem - 2px);"><img src="{% static 'story1/linkedin.png' %}" alt="linkedin" /></li></a>
                    <a href="https://www.instagram.com/rockattmario"><li class="social"><img src="{% static 'story1/instagram.png' %}" alt="instagram" /></li></a>
                    <a href="https://www.twitter.com/ngausakepo"><li class="social"><img src="{% static 'story1/twitter.png' %}" alt="twitter" /></li></a>
                </ul>
            </div>
            <div class="university__profile__wrapper">
                <h2 class="university__profile title">Profile</h2>
                <ul class="university__profile">
                    <li class="profile">Nama<span>Mario Serano</span></li>
                    <li class="profile">NPM <span>1906398484</span></li>
                    <li class="profile">Angkatan <span>2019</span></li>
                    <li class="profile">Institusi <span>Universitas Indonesia</span></li>
                    <li class="profile">Hobi <span>Catur(?)</span></li>
                </ul>
            </div>
        </div>
        <div class="right__card">
            <div class="top__card">
                <h1 class="title">
                    about me
                </h1>
                <div id="line"></div>
                <h2 class="age">
                    20 years / Jakarta / Student (Open for freelancing!)
                </h2>
                <p class="description">
                    <i>Frontend</i> Web Developer. Capable in programming in Django REST Framework and using React for a full-stack Project. 
                    Though, currently prefers working on Frontend rather than Backend due to minimal experience of using DRF to release its full potential. 
                    I love exploring the world of IT, and looking towards working not only in the web development sort of things, but also IoT. 

                    <br/><br/>
                    I also really love entrepreneurship, as I am currently getting my capital ready for my entrepreneurial projects.
                    <br/><br/>
                    And really like to teach others, as I have given some of my teachings in few of my faculty's events, like BETIS, DDP0, and others!
                    <br/> <br/>
                    Feel free to drop me an email or any message through my socials below my profile card!
                </p>
            </div>
            <div class="bottom__card">
                <h1 class="title">
                    riwayat pendidikan
                </h1>
                <div id="line" style="padding-top:0.1rem;"></div>
                <div class="riwayat__pendidikan">
                    <p id="title">Pendidikan:</p>
                    <ol class="riwayats">
                        <li class="riwayat">SD Kristen Kanaan</li>
                        <li class="riwayat">SMP Kristen Kanaan</li>
                        <li class="riwayat">SMA Kristen Kanaan</li>
                        <li class="riwayat">Universitas Indonesia</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
{% endblock %}